.ImageEdit {
  font-family: "Helvetica Neue";

  .buttons {
    justify-content: space-between;
    margin-bottom: 0em;

    @media (max-width: 500px) {
      justify-content: center;
    }
    .button-process,
    .btn-meme,
    .btn-reset {
      font-size: 12px;
      border: none;
      background-color: transparent;
      border-radius: 5px;
      font-weight: 800;
      width: 200px;
      height: 50px;
      cursor: pointer;
      outline: none !important;
    }

    .button-process,
    .btn-reset {
      animation: appear 0.5s;
    }

    .btn-meme {
      flex-grow: 2;
    }

    @keyframes appear {
      0% {
        opacity: 0%;
      }
      100% {
        opacity: 100%;
      }
    }

    .btn-meme {
      padding-left: 40px;
      background-color: transparent;
      color: black;
      text-align: left;
    }

    .btn-reset {
      width: 60px;
      outline: none;
    }
  }
  .box {
    height: 90vh;
    text-align: center;
    overflow: scroll;

    .image-filter-box {
      display: flex;
      flex-direction: column;
    }

    .edit-box {
      display: flex;
      justify-content: center;
      height: 33em;
      @media (max-width: 800px) {
        align-items: center;
      }

      @media (min-height: 1200px) {
        height: 45em;
      }

      @media (max-width: 500px) {
        flex-direction: column;
        height: 35em;
      }

      .image {
        align-self: center;
      }

      .checkboxes {
        align-self: center;
        @media (max-width: 500px) {
          display: flex;
        }

        label {
          font-size: 13px;
        }
      }
    }
    .live-effects-wrap {
      width: 100%;
      align-content: center;

      .live-effects {
        align-self: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-top: 0em;

        .sliders {
          display: flex;
          flex-wrap: wrap;
          align-self: center;
          justify-content: center;
          align-items: start;

          .display-none {
            display: none;
          }
          label {
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 1em;
          }
        }
        .field {
          margin: 10px;
        }
      }
    }
  }
  section {
    padding: 0rem;

    .filters {
      display: flex;
      justify-content: center;
      height: 100px;

      @media (min-height: 1300px) {
        height: 8em;
      }

      .arrow-disabled {
        color: rgb(207, 207, 207);
      }

      .filter {
        width: 80px;
        height: 80px;
        background-color: #f3efba;
        margin: 9.5px;
        border-radius: 10px;
        cursor: pointer;
      }

      .emoji-thumbs {
        width: 30px;
        height: 30px;
        background-color: transparent;
      }

      .btn-page {
        background-color: transparent;
        border: none;
        outline: none;
      }
    }

    .filter-type {
      justify-content: center;
      button {
        margin: 5px;
        text-align: center;
        border: none;
        background-color: transparent;
        font-size: 1em;
        outline: none;
        cursor: pointer;
      }
      .type-selected {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}

.loading-image {
  height: 500px;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .side-by-side {
    display: flex;
    .section {
      .filters {
        flex-wrap: wrap;
        height: 15em;
        .filter {
          width: 70px;
          height: 70px;
          margin: 0em 0.3em;
        }
      }
    }

    .sliders {
      height: 20em;
      overflow: scroll;
    }
  }
}

@media (max-width: 500px) {
  .edit-box {
    canvas, .konvajs-content {
      width: 350px !important;
      height: 350px !important;
    }
  }

  .side-by-side {
    .section {
      .filters {
        .filter {
          width: 50px;
          height: 50px;
        }
      }
      .filter-type {
        font-size: 12px;
      }
    }
  }

  .ImageEdit {
    .buttons {
      margin-bottom: 1em;

      .btn-reset {
        width: 100px;
      }
      .btn-meme {
        width: 100px;
      }

      .button-process {
        width: 100px;
      }
    }
  }
}

@media (max-width: 350px) {

  .edit-box {
    canvas, .konvajs-content {
      width: 310px !important;
      height: 310px !important;
    }
  }
  .side-by-side {
    .sliders {
      height: 24em;
    }
    .section {
      .filters {
        height: 21em;
      }
    }
  }

  .ImageEdit {
    .buttons {
      margin-bottom: 1em;

      .btn-reset {
        width: 80px;
      }
      .btn-meme {
        width: 80px;
      }

      .button-process {
        width: 80px;
      }
    }
  }
}
