
.MemeView {
  align-self: center;
  .meme {
    .left-meme {
      img,
      .top-text,
      .bottom-text {
        position: absolute;
        top: 25%;
        left: 10%;
      }
      .top-text,
      .bottom-text {
        text-align: center;
        border: none;
        height: 100px;
        background-color: transparent;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        color: white;
        font-size: 60px;
      }

      .bottom-text {
        font-size: 45px;
      }
    }

    .save-btn {
      margin: 0 auto;
      border-radius: 5px;
      border: none;
      background-color: rgb(255, 235, 119);
      font-weight: 800;
      width: 200px;
      height: 50px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1024px) {
  .btn-meme {
    font-size: 20px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .btn-meme {
    font-size: 15px;
    width: 100%;
  }
}